<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CMPFO e-Services</title>
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="css/demo.css" /> -->
    <link rel="stylesheet" type="text/css" href="css/style4.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/employer_autofill_signupform.js"></script>

</head>

<body>
    <% include ../public/partials/header %>

    <div class="container-fluid">
        <div class="row">
            <% include ../public/partials/leftSidePane %>

            <div class="col-sm-6">
                <h3 style="text-align:center;"> Welcome <%= user.FULL_NAME %><h3>

  <div id="container-fluid">
   <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>S.No.</th>
        <th>File Name</th>
        <th>Fin-Year</th>
        <th>Month</th>
        <th>Upload Date</th>
        <th>Status</th>
        <th>Response File</th>
      </tr>
    </thead>

    <tbody>
      
        <% for(var i=0; i<filesInfo.length; i++) {%>
            <tr>
           <td><%= i+1 %></td>
           <td><%= filesInfo[i].file_name %></td>
           <td><%= filesInfo[i].year %></td>
           <td><%= filesInfo[i].month %></td>
           <td><%= filesInfo[i].uploaded_date %></td>
           <td><%= filesInfo[i].sap_status %></td>
           <%if (filesInfo[i].sap_status === 'pending') { %>
             <td>-</td>
           <% } %>
           <%if (filesInfo[i].sap_status === 'success') { %>
             <td><a id='success' href='/success_file_download/<%= filesInfo[i].file_number %>'>download</a></td>
           <% } %>
           <%if (filesInfo[i].sap_status === 'error') { %>
             <td><a id='error' href="/error_file_download/<%= filesInfo[i].file_number %>">download</a></td>
           <% } %>
           <!-- <td><%= filesInfo[i].sap_status %></td> -->
           </tr>
        <% } %>
      
    </tbody>
  </table>
        </div>
    </div>
    <!-- Div for form summary table -->
    <div>
        
    </div>
      <% include ../public/partials/rightSidePane %>
</body>
<footer>
    <% include ../public/partials/footer %>
</footer>

</html>
