<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CMPFO e-Services</title>
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="css/demo.css" /> -->
    <link rel="stylesheet" type="text/css" href="css/style4.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/employer_autofill_signupform.js"></script>

</head>

<body>
    <% include ../public/partials/header %>

    <div class="container-fluid">
        <div class="row">
            <% include ../public/partials/leftSidePane %>

            <div class="col-sm-6">
            <h3 style="text-align:center;"> Welcome <%= user.FULL_NAME %></h3>
            <form id='filter'>
              <div class="form-group">
                <label for="sel1">Select year</label>
                <select class="form-control" name='year' id="year">
                  <option value='2016'>2016</option>
                  <option value='2015'>2015</option>
                  <option value='2014'>2014</option>
                  <option value='2013'>2013</option>
                  <option value='2012'>2012</option>
                </select>
              </div>
              <div class="form-group">
                <label for="sel1">Select list:</label>
                <select class="form-control" name='month' id="month">
                  <option value='1'>January</option>
                  <option value='2'>February</option>
                  <option value='3'>March</option>
                  <option value='4'>April</option>
                  <option value='5'>May</option>
                  <option value='6'>June</option>
                  <option value='7'>July</option>
                  <option value='8'>August</option>
                  <option value='9'>September</option>
                  <option value='10'>October</option>
                  <option value='11'>November</option>
                  <option value='12'>December</option>
                </select>
              </div>
                <input type="submit" class="btn btn-success" value="Apply">
            </form>
            <input id='clear' type='button' class="btn btn-success" value='clear'> 
            

  <div id="container-fluid">
   <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>S.No.</th>
        <th>File Name</th>
        <th>Fin-Year</th>
        <th>Month</th>
        <th>Upload Date</th>
        <th>Status</th>
        <th>Response File</th>
      </tr>
    </thead>

    <tbody>
      
        <% for(var i=0; i<filesInfo.length; i++) {%>
            <tr>
           <td><%= i+1 %></td>
           <td><%= filesInfo[i].file_name %></td>
           <td><%= filesInfo[i].year %></td>
           <td><%= filesInfo[i].month %></td>
           <td><%= filesInfo[i].uploaded_date %></td>
           <td><%= filesInfo[i].sap_status %></td>
           <%if (filesInfo[i].sap_status === 'pending') { %>
             <td>-</td>
           <% } %>
           <%if (filesInfo[i].sap_status === 'success') { %>
             <td><a id='success' href='/success_file_download/<%= filesInfo[i].file_number %>'>download</a></td>
           <% } %>
           <%if (filesInfo[i].sap_status === 'error') { %>
             <td><a id='error' href="/error_file_download/<%= filesInfo[i].file_number %>">download</a></td>
           <% } %>
           </tr>
        <% } %>
      
    </tbody>
  </table>
        </div>
    </div>
    <!-- Div for form summary table -->
    <div>
        
    </div>
      <% include ../public/partials/rightSidePane %>
</body>
<footer>
    <% include ../public/partials/footer %>
</footer>

  <script>
    $(document).ready(function (){
      (function (){
          var str = window.location.search;
          var objURL = {};

          str.replace(
              new RegExp( "([^?=&]+)(=([^&]*))?", "g" ),
              function( $0, $1, $2, $3 ){
                  objURL[ $1 ] = $3;
              }
          );
          
          if(objURL.year){
            $('#year').val(objURL.year);
          }
          if(objURL.month){
            $('#month').val(objURL.month);
          }
      })();

      $('#filter').submit(function (e){
        e.preventDefault();
        var year = document.forms["filter"]["year"].value;
        var month = document.forms["filter"]["month"].value;
        window.location.href = '/form_summary?year='+year+'&month='+month;
      });

      $("#clear").click(function (){
        window.location.href = '/form_summary'
      });


    });
  </script>

</html>
